/* 清除漂浮 */

.clearfix {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}

a {
    text-decoration: none
}

header {
    background-color: #222;
    height: 100%;
    padding-top: 15px;
}


/* 居中 */

.coreCenter {
    width: 70%;
    margin: 0 auto;
}

.navbar {
    border: none;
    /* background-color: #fff; */
    border-radius: 0;
}

.navbar-header {
    margin: 0;
}

.nav li {
    padding: 0 20px;
    /* background-color: red; */
}

#bs-example-navbar-collapse-1 .nav>li:hover {
    background-color: #080808;
    padding: 0 20px;
}


/* 当前页面链接的样式 */

.nav .actives {
    padding: 0 20px;
    background-color: #080808;
}


/* 轮播图 */

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#carousel-id {
    margin-top: 0px;
}

#carousel-id .item {
    background: no-repeat center center;
    background-size: cover;
}

@media screen and (min-width:700px) {
    /*屏幕小于700展示背景图，所以哟啊设置高度*/
    #carousel-id .item {
        height: 680px;
        /* 和图片高度设置一样 */
    }
}


/* 水平列表 */

.bottom {
    background-color: black;
}

.bottom-list {
    margin: 50px 0 0 0;
    width: 100%;
}

.bottom-list>p {
    float: left;
    width: 25%;
    height: 50px;
    line-height: 30px;
    font-size: 12px;
    background-color: #222222;
    border: none;
    text-align: center;
}

.list-group-item>a {
    text-decoration: none;
    text-align: center;
    color: #9D9D9D;
}

.list-group-item>a:hover {
    color: #fff;
}

@media screen and (min-width:700px) {
    /*屏幕大于700放大字体*/
    .bottom-list>p {
        font-size: 18px;
    }
}

.bottom-apple>p {
    background-color: #222222;
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 18px;
}

.bottom-apple>p:hover {
    color: #fff;
}

.list-group {
    margin-top: 50px;
}

.list-group-item.active {
    background-color: #989898;
    border: 1px solid #9D9D9D;
}

.bottomfl>div {
    width: 50%;
    float: left;
}

.bottom-btn .btn {
    background-color: #222222;
    color: #fff;
    border: none;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}


/* 六边形 */

.hexagon1 {
    width: 100px;
    height: 160px;
    background-color: #6c6;
    position: relative;
    margin: 0 auto;
}

.hexagon1::before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    border-right: 40px solid #6c6;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
}

.hexagon1::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: -40px;
    border-left: 40px solid #6c6;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
}

.hexagon2 {
    width: 100px;
    height: 160px;
    background-color: orange;
    position: relative;
    margin: 0 auto;
}

.hexagon2 .left {
    width: 0;
    height: 0;
    position: absolute;
    left: -40px;
    top: 0;
    border-right: 40px solid orange;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
}

.hexagon2 .right {
    width: 0;
    height: 0;
    position: absolute;
    right: -40px;
    top: 0;
    border-left: 40px solid orange;
    border-top: 80px solid transparent;
    border-bottom: 80px solid transparent;
}


/* 表格 */

.table {
    margin-top: 30px;
    text-align: center;
}

.table>thead {
    background-color: aqua;
}

.table>thead:hover {
    background-color: #B77533;
    color: #fff;
}

.table td {
    padding: 20px;
}

.table td {
    width: 25%;
}

@media screen and (min-width:700px) {
    /*屏幕大于700放大字体*/
    .tablefl tr {
        display: inline-block;
        width: 25%;
        /* border: 1px solid red; */
    }
}


/* 魔都wiki搜索框 */

.orgInput {
    /* line-height: 145px; */
    margin-top: 70px;
}

.orgInput input {
    width: 80%;
    float: left;
}

.orgInput button {
    width: 20%;
    float: right;
}

@media screen and (min-width:700px) {
    /*屏幕大于700放大字体*/
    .orgInput {
        width: 30%;
        float: right;
    }
}

.orgBtnImg {
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width:700px) {
    /*屏幕大于700放大字体*/
    .orgBtnImg {
        float: left;
        margin-top: 20px;
    }
}


/* 标题 */

.page-header small {
    background-color: #FFF79F;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
}


/* 聊天公告 */

.coreCenter {
    margin-top: 40px;
}

.orgItem .card {
    height: 480px;
}

.coreCenter .orgItem {
    border: 1px solid #989898;
    border-radius: 20px;
    /* margin: 2px; */
}

.coreCenter .orgItem:hover {
    box-shadow: 2px 2px 2px #080808;
    background-color: #FFF79F;
    /* color: #fff; */
}

.coreCenter .orgItem table {
    color: #0b34ba;
}

.coreCenter .orgItem .active {
    font-weight: bold;
    color: black;
}

.coreCenter .orgItem h4 {
    font-weight: bolder;
    font-size: 26px;
}

.img-responsive {
    width: 100%;
}


/* 评论单条 */

.newPage {
    margin-top: 50px;
}

.newPage img {
    float: left;
    margin: 0 20px 0 0;
}

.newPage button {
    padding: 5px;
    margin-bottom: 20px;
}

.btn-lg {
    padding: 5px;
}

.newPager p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.news {
    background-color: #DFDFDF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #989898;
}


/* 单选按钮 */

.checkBox label {
    width: 100%;
}

.bottomBtn {
    width: 100%;
}

@media screen and (min-width:700px) {
    /*屏幕大于700放大字体*/
    .bottomBtn {
        width: 20%;
    }
}